{% block main %}
    <h1>{{ post.title }}</h1>

    <p class="post-metadata">
        <span class="metadata"><i class="fa fa-calendar"></i> {{ post.publishedAt|format_datetime('long', 'medium', '', 'UTC') }}</span>
        <span class="metadata"><i class="fa fa-user"></i> {{ post.author.fullName }}</span>
    </p>

    {{ post.content|markdown_to_html}}

    <h3>Tags</h3>
    {% if not post.tags.empty %}
        <p class="post-tags">
            {% for tag in post.tags %}
                {{ tag.name }}
            {% endfor %}
        </p>
    {% endif %}
{% endblock %}
